body{
	max-width: 640px;
	width: 100%;
	background-image: url(img/dollarSign.png);
	font-family: Helvetica, Arial, sans-serif;
}

h1{
	width: 312px;
	font-size: 33px;
	line-height: 1;
	color: #ffffff;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	margin-top: 50px;
	margin-left: 43px;
}

.text p{
	margin-left: -205px;
	width: 312px;
	font-size: 15px;
	text-align: center;
	color: #336699;
	position: relative;
}

.buttons{
	position: relative;
	width: 312px;
	text-align: center;
	margin-top: 20px;
	margin-left: 48px;
}

.buttons a{
	width: 30px;
	height: 30px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	margin-right: 10px;
	position: relative;
}

a:link{

}

a:visited{
 
}
a:hover{
	color: #336699;
}
a:active{
}

#alignBox{
	margin-left: 48px;
	margin-top: 70px;
	position: relative;
}

#logo {
}

#logo img {
	width: 360px;
	height: auto;
	margin-top: 40px;
	margin-left: 20px;
}

#box{
	width: 312px;
	height: 100px;
	background-color: #336699;
	border-radius: 5px;
	margin-left: 43px;
	margin-top: 70px;
	position: relative;
}

#switch{
	background-color: #336699;
	color: #ffffff;
	margin-left: 151px;
	margin-top: 30px;
	margin-bottom: 25px;
	position: relative;
}


#today{
	width: 330px;
	margin-left: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	background-color: #ffffff;
	color: #336699;
	text-align: center;
	position: relative;
}
